<div ng-click='addplayer = true' class='btn btn-default navInline'> Add Player </div>
<div ng-click='addplayer = false' class='btn btn-info navInline'> Edit Existing Players </div>
<div ng-show='addplayer'>
  <fieldset>
    <legend> Add Player </legend>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" ng-model='playerInfo.name' class="form-control input-text" />
    </div>
    <div class="form-group">
      <label>Team:</label>
      <input type="text" ng-model='playerInfo.team' class="form-control input-text" />
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="text" ng-model='playerInfo.age' class="form-control input-text" />
    </div>
    <div class="form-group">
      <label>Position:</label>
      <input type="text" ng-model='playerInfo.position' class="form-control input-text" />
    </div>
    <div class="form-group">
      Rookie:
      <label class="radio-inline"><input type="radio" ng-model='playerInfo.rookie' value="true"></input> True </label>
      <label class="radio-inline"><input type="radio" ng-model='playerInfo.rookie' value="false"></input> False </label>
    </div>
    <div class="form-group">
      <label>Years in The League:</label>
      <input type="text" ng-model='playerInfo.yearsInTheLeauge' class="form-control input-text" />
    </div>
    <br>
    <button ng-click='admin.createPlayer()' class="btn btn-default">Create Player</button>

    <br>
    <br>
  </fieldset>
  <p class='bg-danger result'> {{error}} </p>
  <p class='bg-success result'> {{success}} </p>
</div>

<div ng-hide='addplayer'>
  <hr>
  <div ng-repeat='player in players'>
    <h5 class='text-center'> Player Info </h5>
    <div class='player-label'>
      Id:
      <label> {{player._id}} </label>
    </div>
    <div class='player-label'>
      Name:
      <label> {{player.name}} </label>
    </div>
    <div class='player-label'>
      Team:
      <label ng-hide='editing'> {{player.team}} </label>
      <input ng-blur="editing = false;" ng-show='editing' type="text" ng-model='updatePlayer.team' placeholder='{{player.team}}' class="input-text" />
    </div>
    <div class='player-label'>
      Age:
      <label ng-hide='editing'> {{player.age}} </label>
      <input ng-blur="editing = false;" ng-show='editing' type="text" ng-model='updatePlayer.age' placeholder='{{player.age}}' class="input-text" />
    </div>
    <div class='player-label'>
      Position:
      <label ng-hide='editing'> {{player.position}} </label>
      <input ng-blur="editing = false;" ng-show='editing' type="text" ng-model='updatePlayer.position' placeholder='{{player.position}}' class="input-text" />
    </div>
    <div class='player-label'>
      Rookie:
      <label ng-hide='editing'> {{player.rookie}} </label>
      <label  ng-show='editing' class="radio-inline"><input type="radio" ng-model='updatePlayer.rookie' value="true"></input> True </label>
      <label  ng-show='editing' class="radio-inline"><input type="radio" ng-model='updatePlayer.rookie' value="false"></input> False </label>
    </div>
    <div class='player-label'>
      Years In The League:
      <label ng-hide='editing'> {{player.yearsInTheLeauge}} </label>
      <input ng-blur="editing = false;" ng-show='editing' type="text" ng-model='updatePlayer.yearsInTheLeauge' placeholder='{{player.yearsInTheLeauge}}'class="input-text" />
    </div>
    <button class="btn btn-primary" ng-click='editing = !editing'> Edit </button>
    <button class="btn btn-success" ng-click='admin.updatePlayer(player,updatePlayer)'> Save </button>
    <button class="btn btn-danger" ng-click='admin.deletePlayer(player)'=> Delete </button>
    <p>{{admin.error}} </p>
    <hr>
  </div>
</div>
<br>
