<fieldset>
  <legend> Register </legend>
  <form name='registerForm' novalidate >
    <div class="form-group" ng-class="{'has-success': registerForm.username.$valid }">
        <label>Username:</label>
        <input type="text"
            name='username'
            class="form-control input-text"
            ng-model='user.username'
            ng-model-options="{ updateOn: 'default blur', debounce: { default: 250, blur: 0 } }"
            no-whitespace-validator
            pattern='[a-zA-Z\d]+'
            required
            minLength='5' />
         <div ng-messages="registerForm.username.$error" ng-if="registerForm.$submitted || registerForm.username.$touched">
            <div ng-message="required" class='bg-danger result' >Username Required</div>
            <div ng-message="minlength" class='bg-danger result'>Username must be at least 5 characters...</div>
            <div ng-message="noWhitespaceValidator" class='bg-danger result'>Username cannot contain spaces</div>
            <div ng-message="pattern" class='bg-danger result'>Can only contain letters or numbers</div>
         </div>
    </div>
    <div class="form-group" ng-class="{'has-success': registerForm.password.$valid }">
      <label>Password: </label>
      <input type="password"
        ng-model='user.password'
        name='password'
        class="form-control input-text"
        ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
        no-whitespace-validator
        password-params-validator
        pattern='[a-zA-Z\d]+'
        minLength='6'
        required />
      <div ng-messages="registerForm.password.$error" ng-if="registerForm.$submitted || registerForm.password.$touched">
         <div ng-message="required" class='bg-danger result' >Password Required</div>
         <div ng-message="minlength" class='bg-danger result'>Passwardo must be at least 6 characters...</div>
         <div ng-message="noWhitespaceValidator" class='bg-danger result'>Password cannot contain spaces</div>
         <div ng-message="passwordParamsValidator" class='bg-danger result'>Password must contain at least one a-z, A-Z, 0-9</div>
         <div ng-message="pattern" class='bg-danger result'>Can only contain letters or numbers</div>
      </div>
    </div>
    <br>
    <button type='submit' ng-click='registerForm.$valid ? register() : return' class="btn btn-default">Register</button>
  </form>
  <br>
  <p class='bg-success result'> {{registration.success}} </p>
  <p class='bg-danger result'> {{error}} </p>
</fieldset>
