<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <title>My Calendar</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body ng-controller='mainCtrl'>
    <main-nav nav-title='My Calendar'>
      <ul class='nav navbar-nav'>
        <li><a ui-sref='mainPage'>Home</a></li>
        <li><a ui-sref="#/searchPlayer">Search For Player</a></li>
        <li ><a ui-sref='#/' >Logout</a></li>
      </ul>
    </main-nav>


    <div class='container'>
      <main ui-view> </main>
    </div>

    <footer class='panel-footer footer'>
      <p class='text-center'> @MaxJacobsen </p>
    </footer>
  </body>
</html>
