$banner-background-color: #130B0E;
$banner-text-color: #E4C50B;
$body-background-color: #e3e3e3;

$nav-background-color: #4B0B16;
$nav-list-color:#E4C50B;
$nav-list-color-hover: white;

$lightblue: #08E4E1;
