.mainNav {
  display:block;
  padding-right: 20px !important;
}

#logout {
  float: right;
  color: red;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

/*
.input-text {
  width: 300px !important;
  max-width: 100%;
}
.player-label {
  margin-bottom: 5px;
}


.result {
  width: 200px;
  max-width: 100%;
  margin-bottom: 20px;
  font-weight: bolder;
}

#userName {
  font-weight: bolder;
  color: red;
}

.navInline {
  margin-bottom: 5px;
}
.searchOnePlayer {
  margin-top: 50px;
}
.showAll-button {
  margin-bottom: 20px;
}

.filter-categories {
  padding: 0 5px;
  border-right: 2px solid black;
  font-weight: bold;
}

.filter-categories:hover {
  color: blue;
  cursor: pointer;
}*/


footer {
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  clear: both;
  width: 100%;
}
